<a href="#/event/{{ deck.event_id }}">&lt;&lt; view event</a>

<h3>
    {{ deck.name }}
</h3>
<h4>
    {{ formatPlace(deck.place) }} at {{event.name}}, {{ event.date }}
</h4>
<div class="row">
    <!-- Mainboard -->
    <div class="col-md-8">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Mainboard ({{mainboard.length}})</h4>
            </li>

            <!-- Warning if no cards found -->
            <li class="list-group-item list-group-item-warning"
                ng-show="!mainboard.length">
                No cards found.
            </li>

            <a class="list-group-item"
               href="#/card/{{ card.id }}"
               ng-repeat="card in mainboard = (cards | filter: (card.sideboard == false))">
                <span class="quantity">
                    {{ card.quantity }}
                </span>
                {{ card.name }}
            </a>
        </ul>
    </div>
    <!-- Sideboard -->
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Sideboard ({{ sideboard.length || 0}})</h4>
            </li>

            <!-- Warning if no cards found -->
            <li class="list-group-item list-group-item-warning"
                ng-show="!sideboard.length">
                No cards found.
            </li>

            <a class="list-group-item"
               href="#/card/{{ card.id }}"
               ng-repeat="card in sideboard = (cards | filter: (card.sideboard != false))">
                <span class="badge">
                    {{ card.quantity }}
                </span>
                {{ card.name }}
            </a>
        </ul>
    </div>
</div>