<div class="formats row text-center"
     style="margin-bottom: 2em">
    <div ng-class="formatColSize">
        <button class="btn"
                ng-class="(-1 == searchParams.format_id) ? 'btn-primary' : 'btn-default'"
                ng-click="changeFormat(-1)">
            All
        </button>
    </div>
    <div ng-class="formatColSize"
         ng-repeat="format in formats">
        <button class="btn"
                ng-class="(format.id == searchParams.format_id) ? 'btn-primary' : 'btn-default'"
                ng-click="changeFormat(format.id)">
            {{ format.name }}
        </button>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <h4>Recent {{ getFormatName(searchParams.format_id) }} Events</h4>
    </li>
    <li class="list-group-item list-group-item-warning"
        ng-show="!filteredEvents.length">
        No recent events...
    </li>
    <a class="list-group-item"
        href="#/event/{{ event.id }}"
        ng-repeat="event in filteredEvents = (events | filter: searchFilter)">
        <span class="badge">
            {{ event.date || '05-23-15' }}
        </span>
        <span class="badge">
            {{ getFormatName(event.format_id) }}
        </span>
        {{ event.name }}
    </a>
</ul>